.App {
  text-align: center;
  height: 100vh;
  color: white;
  background-color: #66023c;
}

.center {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: white;
  /*top: 35%;
  right: 50%;*/
}

.right {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: right;
  text-decoration: none;
  display: block;
  font: menu;
  font-size: 16px;
  margin: 0;
  position: absolute;
  top: 5%;
  right: 0%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bottom {
  border: none;
  color: white;
  text-align: center;
  padding-top: 7px;
  text-decoration: none;
  align-items: center;
  display: inline;
  font: menu;
  font-size: 16px;
  margin: 0;
}